.container{
    margin-top: 4%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #dc3545, #af9bb2, #d2d6d6, #ffffff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}